<% if @customer.addresses.any? %>
  <div class="card">
    <div class="card-content">
      <h5>Addresses on file</h5>
      <ul>
        <% @customer.addresses.each do |address| %>
          <%= render partial: "partials/address_listing", locals: { address: address } %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
