<div class="input-field col s12 m6">
  <%= f.input :first_name %>
</div>

<div class="input-field col s12 m6">
  <%= f.input :last_name %>
</div>

<div class="input-field col s12 m6">
  <%= f.input :phone %>
</div>

<div class="input-field col s12 m6">
  <%= f.input :email %>
</div>
